.document-filter-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    margin-bottom: 1.5rem;

    > button {
        border: 0;
    }
}

.document-filter-fields-wrapper {
    display: flex;
    align-items: center;
    
    gap: 1.5rem;
}

.document-filter-buttons-wrapper {
    display: flex;
    align-items: center;

    gap: 1.5rem;
}

.document-filter-erase {
    opacity: 0.65;
}

@media screen and (max-width: 1024px) {
    .document-filter-container {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 860px) {
    .document-filter-container {
        flex-direction: column;
        align-items: center;

        gap: 1rem;

        margin-bottom: 1.5rem;

        > button {
            width: 16rem;
        }
    }

    .document-filter-fields-wrapper {
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 580px) {
    * {
        font-size: 0.95rem;
    }
}